@model TimeCard.Domain.JobCard

@{
    ViewData["Title"] = "Create Job Card";
    Layout = "_LayoutDashboard";
}
&nbsp;
<h4>@ViewData["Title"] </h4>
<hr />
<div class="row">
    <div class="container bg-opacity-100 shadow-sm">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row  mb-3">
                <div class="form-group col-6">
                    <select asp-for="EmployeeId" class="js-example-basic-single js-states form-select"
                            asp-items="@ViewBag.EmployeeList" tabindex="-1">
                        <option disabled selected>-Select Employee -</option>
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>

                <div class="form-group col-6">
                    <select asp-for="JobId" class="js-example-basic-single js-states form-select"
                            asp-items="@ViewBag.JobList" tabindex="-1">
                        <option disabled selected>-Select Job -</option>
                    </select>
                    <span asp-validation-for="JobId" class="text-danger"></span>
                </div>
            </div>

            <div class="row  mb-3">
                <div class="form-group col-6">
                    <label asp-for="DateWorked" class="control-label"></label>
                    <input asp-for="DateWorked" class="form-control" />
                    <span asp-validation-for="DateWorked" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="HoursWorked" class="control-label"></label>
                    <input asp-for="HoursWorked" class="form-control" step="0.01" />
                    <span asp-validation-for="HoursWorked" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group pb-3">
                <input type="submit" value="Create" class="btn btn-light shadow-sm" />
                <a asp-action="Index" class="btn btn-outline-secondary shadow-sm">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-example-basic-single ').select2();
        })
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
